name: Create Rust release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --release --verbose
      - name: Ensure version is correct
        run: cargo run --release -- --version | grep "$(echo ${{ github.ref_name }} | tr 'v' ' '}"
      - uses: actions/upload-artifact@v2
        with:
          name: rizzy
          path: target/release/rizzy

  upload:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v2
      - name: Upload binaries to release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          files: "**/rizzy"
